body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    
    font-family: Rockwell, sans-serif;
}

div#pageContenu{
    margin-top: 40px;
    margin-bottom: 10%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    
    padding: 25px 40px 25px 40px;
    
    text-align: center;
    font-size: 19px;
    color: white;
    text-shadow: 
        -1px -1px 0px #000,
        -1px 1px 0px #000,
        1px -1px 0px #000,
        1px 1px 0px #000;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    transform-origin: center center;
}

div#pageContenu .alert{
    text-align: center;
    font-size: 17px;
    text-shadow: none;
}

div#pageContenu p{
    text-align: justify;
}

@media (max-width: 768px) {
    div#pageContenu{
        font-size: 14px;
    }
}