db/nbproject/private/
db/db.json
**/node_modules
web/dist/*.js
web/dist/*.js.map
web/dist/*.html
web/dist/fonts/
web/dist/public/
web/dist/assets/avatar/**
web/dist/assets/galerie/**
.idea/
npm-debug.log