div#pageContenu span.help-block{
    color: white;
    font-size: 14px;
}

div#pageContenu div label.avatar{
    display: flex;
    flex-direction: row-reverse;
}

div#pageContenu div label.avatar img{
    max-height: 100px;
}

div#pageContenu div textarea{
    resize: vertical;
}

