div.equipeItem{
    margin: 15px -15px 0 -15px;
    padding: 10px 0 10px 0;
}
div.equipeItem:hover{
    border: 1px solid #555;
    border-radius: 6px;
    margin: 14px -16px -1px -16px;
}

div.equipeItem div.txt, div.equipeItem div.img{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
}

div.equipeItem div.txt div.description h3{
    margin: 0;
}

div.equipeItem div.txt div.description a.email{
    color: #fff;
}

div.equipeItem div.txt div.description a.email:hover, div.equipeItem div.txt div.description a.email:focus{
    text-decoration: none;
    color: #66ccff;
}

div.equipeItem div.txt ul li{
    list-style-type: none;
}

div.equipeItem div.txt:not(.col-xs-pull-3) ul li:before{
    content: '- '
}

div.equipeItem div.txt.col-xs-pull-3 ul li:after{
    content: ' -'
}